<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Assignment">
        <activity
            android:name=".yourstory"
            android:exported="false" />
        <activity
            android:name=".addstory"
            android:exported="false" />
        <activity
            android:name=".story4"
            android:exported="false" />
        <activity
            android:name=".story3"
            android:exported="false" />
        <activity
            android:name=".story2"
            android:exported="false" />
        <activity
            android:name=".story1"
            android:exported="false" />
        <activity
            android:name=".heart_you"
            android:exported="false" />
        <activity
            android:name=".heart_following"
            android:exported="false" />
        <activity
            android:name=".highlight3"
            android:exported="false" />
        <activity
            android:name=".highlight2"
            android:exported="false" />
        <activity
            android:name=".highlight1"
            android:exported="false" />
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".Callumair"
            android:exported="false" />
        <activity
            android:name=".Callfaizan"
            android:exported="false" />
        <activity
            android:name=".Callsauleh"
            android:exported="false" />
        <activity
            android:name=".Callzohaib"
            android:exported="false" />
        <activity
            android:name=".Callabdullah"
            android:exported="false" />
        <activity
            android:name=".Callhammad"
            android:exported="false" />
        <activity
            android:name=".DMumair"
            android:exported="false" />
        <activity
            android:name=".DMfaizan"
            android:exported="false" />
        <activity
            android:name=".DMsauleh"
            android:exported="false" />
        <activity
            android:name=".DMzohaib"
            android:exported="false" />
        <activity
            android:name=".DMabdullah"
            android:exported="false" />
        <activity
            android:name=".DMhammad"
            android:exported="false" />
        <activity
            android:name=".message"
            android:exported="false" />
        <activity
            android:name=".search"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".savedacc"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
    </application>

</manifest>